<div class="container" >
  <div class="row" style="text-align:center;">

    <div style="background-color:#FFFFFF">
    <div class="col-xs-12">
      <img src="<%= item.img_link %>" height="200px" width="200px" class="img-rounded" style="margin-bottom:5px;">
      <br><h2><b><%= item.i_name %></h2></b>
    </div>
    <div class="col-xs-12">
      <span>฿ <%= item.i_price %>.00 / <span>กิโลกรัม</span></span>
    </div>
    <div class="col-xs-12">
      <span><h4><%= item.i_desc %></h4></span>
    </div>

    <div class="col-xs-12">
      <hr/>
    </div>


    <form action="/sell" method="post">
      <input type="hidden" name="i_id" value="<%=item.i_id%>"/>
      <input type="hidden" name="i_name" value="<%=item.i_name%>"/>
      <input type="hidden" name="i_unit" value="<%=item.i_unit%>"/>
      <input type="hidden" name="i_price" value="<%=item.i_price%>"/>

      <div class="col-xs-12">
        <span><h5><b>จำนวนที่ต้องการขาย</b></h5></span>
      </div>
      <div class="col-xs-12">
        <input type="text" name="amount" style="width:10%" maxlength="5"><span>  กิโลกรัม</span>
      </div>
      <div class="col-xs-12">
        <hr/>
      </div>
      <div class="col-xs-12">
        <span><h5><b>ผู้ติดต่อ</b></h5></span>
        <input type="text" name="contact" style="width:50%" maxlength="50">
      </div>


      <div class="col-xs-12">
        <br>
        <button type="submit" class="btn btn-default"><b><h4>ขาย</h4></b></button>
      </div>

    </form>
  </div>
  </div>
</div>
